body{
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
}

.white{
    color: white;
}

.custom-font{
    font-family: 'Lemon', cursive;
}

.center{
    text-align: center;
}

.content1{
    padding-top:5%;
}
.content2{
     padding-top:10%;
 }

.btn-facebook{
    margin-top: 20px;
}

#yourElement {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-duration: 2s;
    -moz-animation-delay:1s;
}